.hidden {
    display: none;
}
.library-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.grid-title {
    font-size: 35px;
    font-family: serif;
    margin: 20px;
    /* background-color: rgb(217, 214, 231); */
}

.delete-btn {
    visibility: hidden;
    margin-top: 8px;
    color: rgb(136, 86, 136);
    font-weight: 500;
    text-align: center;
    border: 1px;
    border-style: solid;
    /* text-decoration-line: underline; */
}
.card:hover .delete-btn {
    visibility: visible;
 
}

.list-add-type {
    background-color: rgb(217, 214, 231);
    border-width: 2px;
    border-color: rgb(136, 86, 136);
    height: 20px;
    width: 65%;
    min-width: 100px;
    border-radius: 8px;
}

.delete {
    margin: 10px;
}
.lib-img {
    width: 100%;
    border-radius: 6px;
}

#list {
    font-size: 25px;
}
#list-add {
    font-size: 25px;
    color: rgb(151, 147, 147);
}
#list-add:hover {
    color: rgb(44, 8, 44);
}
#list:hover {
    color: rgb(168, 103, 168);
}

#header {
    font-size: 32px;
    font-weight: 700;
}
.card {
    margin: 10px;
}
.grid-side {
    width: 85%
}

.flex {
    display: flex;
}
.library-side {
    width: 15%;
    /* left: 0px; */
    height: 100vh;
    padding: 40px;
    margin-right: 20px;
    background-color: rgb(217, 214, 231);
}

/* button {
    background-color: rgb(255, 240, 221);
    border-radius: 5px;
    padding: 5px;

}
.search-bar input{
    border-radius: 7px;
    margin: 20px;
    padding: 8px;
    width: 45%;
    background-color: rgb(255, 240, 221);

} */
@media screen and (max-width: 1410px){
    .library-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1210px){
    .library-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1000px){
    .library-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 750px){
    .library-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 540px){
    .library-grid{
        grid-template-columns: 1fr;
    }
}

