
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 72%;
    float: right;
    margin: 10px;
}

#list {
    margin-left: 20%;
    font-size: 20px;
}

#header {
    font-size: 30px;
    margin-left: 20%;
    font-weight: 700;

}

.search-page {
    display: flex;
}
.side {
    width: 28%;
    left: 0px;
    height: 100vh;
    background-color: rgb(217, 214, 231);
}
.search-bar {
    display: inline;
}
button {
    background-color: rgb(255, 240, 221);
    border-radius: 5px;
    padding: 5px;

}
.search-bar input{
    border-radius: 7px;
    margin: 20px;
    padding: 8px;
    width: 45%;
    background-color: rgb(255, 240, 221);

}




@media screen and (max-width: 1350px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1070px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 700px){
    .grid{
        grid-template-columns: 1fr;
    }
}

