h3 {
    background-color: rgb(225, 207, 190);    
    font-size: 30px;
    padding: 60px;
    text-align: center;
}

.about-us {
    background-color: rgb(225, 207, 190);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-header {
    margin: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}
.header img {
    width: 50%;
    height: auto;
}
.about-text {
    inline-size: 57%; 
    font-size: 20px;
    line-height: 45px;
    margin-left: 30px;
}

.header {
    padding: 12px;
    padding-bottom: 0px;
    background-color: rgb(225, 207, 190);    
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.trend-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    background-color: rgb(225, 207, 190);
    padding: 50px;
}
.trend-box .carousel {
    flex: 1;
}

.trends {
    height: 200px;
    width: auto;
}
.text {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    height: 80px;
    text-align: center;
}

.box1 {
    background-color: rgb(225, 207, 190);    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 35px;
    padding: 35px;
    /* padding-top: 10px; */
}


.box {
    background-color: white;
    width: 30%;
    min-width: 139px;
    margin: auto;
    box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.7);
-webkit-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.7);
-moz-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.7);
padding: 20px;
}

.carousel {
    width: 100%;
    padding: 17px;
    background-color: white;
    margin-left: 20px;
    /* box-shadow: 10px 10px 38px -16px rgba(0,0,0,0.72);
    -webkit-box-shadow: 10px 10px 38px -16px rgba(0,0,0,0.72);
    -moz-box-shadow: 10px 10px 38px -16px rgba(0,0,0,0.72); */
    box-shadow: 10px 10px 38px -19px rgba(0,0,0,0.59);
    -webkit-box-shadow: 10px 10px 38px -19px rgba(0,0,0,0.59);
    -moz-box-shadow: 10px 10px 38px -19px rgba(0,0,0,0.59);
}

@media (max-width: 400px) {
    .flex-grid {      
        display: block;
    }
  }