
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 72%;
    float: right;
    margin: 10px;
}
#search-btn {
    background-color: rgb(255, 240, 221);
    margin: 0px;
    text-align: center;
    width: 57px;
    border-width: 1px;
}
.search-page {
    display: flex;
}
.side {
    width: 28%;
    left: 0px;
    min-height:92vh;
    background-color: rgb(217, 214, 231);
}
.search-bar {
    display: inline;
}
button {
    background-color: rgb(255, 240, 221);
    border-radius: 5px;
    padding: 5px;

}
.search-bar input{
    border-radius: 5px;
    margin: 20px;
    margin-right: 0;
    padding: 7px;
    width: 45%;
    background-color: rgb(255, 240, 221);
    border-width: 1px;
}




@media screen and (max-width: 1350px){
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1070px){
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 700px){
    .grid{
        grid-template-columns: 1fr;
    }
}

