.input {
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(255, 240, 221);
}

/* .box {
    background-color: rgb(255, 255, 255);    
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.7);
-webkit-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.7);
-moz-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.7);
padding: 20px;
} */

.hidden {
    display: none;
}