.input {
    margin: 10px;
    border-radius: 8px;
    background-color: rgb(255, 240, 221);
}

.title {
    font-weight: 550;
}

.link {
    background-color: white;
    border: none;
    padding: 0px;
    text-decoration-line: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

/* .box {
    background-color: rgb(255, 255, 255);    
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.7);
-webkit-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.7);
-moz-box-shadow: 10px 10px 51px -14px rgba(0,0,0,0.7);
padding: 20px;
} */